on:
  workflow_call:
    inputs:
      slack_channel:
        description: "Name of the slack channel"
        required: true
        type: string
    secrets:
      slack_webhook:
        description: "Slack webhiik URL to send notification"
        required: true
      token:
        description: "GITHUB_TOKEN"
        required: true

env:
  MSG_MINIMAL: "true"
  SLACK_ICON_EMOJI: ":small_airplane:"
  SLACK_FOOTER: ""
  SLACK_USERNAME: cicd
  SLACK_CHANNEL: ${{ inputs.slack_channel }}
  SLACK_WEBHOOK: ${{ secrets.slack_webhook }}

jobs:
  bump-tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: anothrNick/github-tag-action@1.36.0
        id: tag
        env:
          GITHUB_TOKEN: ${{ secrets.token }}
          DEFAULT_BUMP: patch
          WITH_V: true
          RELEASE_BRANCHES: stage
          TAG_CONTEXT: branch
      - name: prepare-vars
        if: "${{ failure() }}"
        run: |
          echo "REPOSITORY_NAME=${GITHUB_REPOSITORY#*/}" >> $GITHUB_ENV
      - uses: rtCamp/action-slack-notify@v2
        if: ${{ failure() }}
        env:
          SLACK_COLOR: ${{ job.status }}
          SLACK_TITLE: "`${{ env.REPOSITORY_NAME }}`   :sos:"
          SLACK_MESSAGE: "\nTag *${{ steps.tag.outputs.new_tag }}* was not created\n\nDetails:\n• <https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}|GH Action>\n"

  back-merge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: everlytic/branch-merge@1.1.2
        with:
          github_token: ${{ secrets.token }}
          source_ref: stage
          target_branch: develop
          commit_message_template: "[Automated] Back-merge {source_ref} into {target_branch}"
      - name: prepare-vars
        if: "${{ failure() }}"
        run: |
          echo "REPOSITORY_NAME=${GITHUB_REPOSITORY#*/}" >> $GITHUB_ENV
      - uses: rtCamp/action-slack-notify@v2
        if: ${{ failure() }}
        env:
          SLACK_COLOR: ${{ job.status }}
          SLACK_TITLE: "`${{ env.REPOSITORY_NAME }}`   :sos:"
          SLACK_MESSAGE: "\nBack merge *stage* into *develop* has been failed\n\nDetails:\n• <https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}|GH Action>\n"
